.player {

    position: absolute;
    z-index: 100;
    background-color: transparent;
    background-repeat: no-repeat;

}

.player.alice {

    background-image: url("../images/player.png");

}

.player.walking {

    animation: none .8s steps(3) infinite;

}

.player[stance=down] {

    animation-name: walkdown;
    background-position-x: 0px;

}

.player[stance=left] {

    animation-name: walkleft;
    background-position: 0px -32px;

}

.player[stance=right] {

    animation-name: walkright;
    background-position: 0px -64px

}

.player[stance=up] {

    animation-name: walkup;
    background-position: 0px -96px;

}

.player[stance=leftup] {

    animation-name: walkleftup;
    background-position: -96px -32px;

}

.player[stance=leftdown] {

    animation-name: walkleftdown;
    background-position: -96px 0px;

}

.player[stance=rightup] {

    animation-name: walkrightup;
    background-position: -96px -96px;

}

.player[stance=rightdown] {

    animation-name: walkrightdown;
    background-position: -96px -64px;

}

@keyframes walkdown {

    from { background-position-x:   0px; }
      to { background-position-x: -96px; }

}

@keyframes walkleft {

    from { background-position:   0px -32px; }
      to { background-position: -96px -32px; }

}

@keyframes walkup {

    from { background-position:   0px -96px; }
      to { background-position: -96px -96px; }
   

}

@keyframes walkright {

    from { background-position:   0px -64px; }
      to { background-position: -96px -64px; }

}

@keyframes walkleftup {

   from { background-position: -96px  -32px; }
     to { background-position: -192px -32px; }

}

@keyframes walkleftdown {

   from { background-position: -96px  0px; }
     to { background-position: -192px 0px; }

}

@keyframes walkrightup {

   from { background-position:  -96px -96px; }
     to { background-position: -192px -96px; }

}

@keyframes walkrightdown {

   from { background-position:  -96px -64px; }
     to { background-position: -192px -64px; }

}